body{
	color: #000;
	font-family: arial;
}
h1{        
  font-size: 60px;    
  margin: 10px auto auto;        
  text-align: center;
  text-shadow: 2px 2px #ccc;
  width: 100%
}

h2{    
  font-family: arial;
  font-size: 40px;    
  margin: 10px auto;        
  text-align: center;    
  width: 100%
}
div{
	margin:auto;
	margin-top: 10px;			
	text-align: center;	
}

div b{
	color: #ED973B;
}